html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "iransans";
  src: url("../fonts/iransans.ttf");
}

@font-face {
  font-family: "iransans2";
  src: url("../fonts/iransans2.ttf");
}

@font-face {
  font-family: "rezvan";
  src: url("../fonts/Rezvan.ttf");
}

@font-face {
  font-family: "rezvan2";
  src: url("../fonts/Rezvan-reg.ttf");
}

.inner_container {
  width: 50%;
  margin: 0 auto;
  max-width: 2000px;
}

body {
  background-color: #f7f7f7;
}

.header_container {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
}

.header_container .logo {
  width: 3em;
}

.header_container .header_contact_items {
  font-family: 'iransans';
  padding-top: 1em;
}

.header_container .header_contact_items i {
  color: #377ef9;
}

.header_container .header_contact_items span {
  color: #333;
}

.header_container .header_contact_items a {
  margin: 0 .5em;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header_container .header_contact_items a i {
  color: #646464;
}

.header_container .header_contact_items a i:hover {
  color: #377ef9;
}

#header_mail {
  font-family: 'roboto';
}

.main_container {
  font-family: 'iransans';
  border-bottom: 1px solid #646464;
}

.main_container .post_title {
  color: #333;
  margin: 1em 0;
}

.main_container .date {
  margin: 1em 0;
  color: #646464;
}

.main_container .date i {
  color: #377ef9;
}

.main_container .post_banner {
  width: 100%;
  margin: 1em 0;
}

.main_container .post_content {
  color: #333;
  margin: 1em 0;
  font-size: 1.2em;
  line-height: 1.9em;
}

.footer_container {
  padding: 2em 5em;
  background-color: #333;
}

.footer_container .footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_container .footer_contact .footer_contact_items i {
  color: #377ef9;
}

.footer_container .footer_contact .footer_contact_items span {
  color: #fff;
  font-family: 'iransans';
}

.footer_container .footer_contact .footer_contact_items #footer_mail {
  font-family: 'roboto';
}

.footer_container .footer_contact .footer_contact_items a {
  margin: 0 .7em;
}

.footer_container .footer_caption {
  color: #fff;
  font-family: 'iransans';
  margin: 3em 0;
  text-align: center;
  padding: 1em 4em;
}

.footer_container .city_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #646464;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 7em;
  padding-bottom: 2em;
}

.footer_container .city_container a {
  text-decoration: none;
  font-family: 'iransans';
  color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer_container .city_container a:hover {
  color: #377ef9;
}

.copyright_container {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright_container .footer_navbar .footer_navigation_menu {
  color: #fff;
}

.copyright_container .footer_navbar .footer_navigation_menu .footer_navigation_item {
  display: inline-block;
}

.copyright_container .footer_navbar .footer_navigation_menu .footer_navigation_item a {
  text-decoration: none;
  color: #fff;
  font-family: 'iransans';
  padding: 0 .5em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.copyright_container .footer_navbar .footer_navigation_menu .footer_navigation_item a:hover {
  color: #377ef9;
}

.copyright_container .developer_container {
  color: #6e6e6e;
  font-family: 'roboto';
}

.copyright_container .developer_container a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.copyright_container .developer_container a:hover {
  color: #377ef9;
}

.up_button {
  position: fixed;
  right: 1%;
  bottom: 2%;
  background: transparent;
  color: #646464;
  font-size: 2em;
  display: none;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.up_button:hover {
  color: #377ef9;
}
/*# sourceMappingURL=blog.css.map */