html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans.ttf");
}

@font-face {
  font-family: 'iransans2';
  src: url("../fonts/iransans2.ttf");
}

@font-face {
  font-family: 'rezvan';
  src: url("../fonts/Rezvan.ttf");
}

@font-face {
  font-family: 'rezvan2';
  src: url("../fonts/Rezvan-reg.ttf");
}

.inner_container {
  width: 95%;
  margin: 0 auto;
  max-width: 2000px;
}

.header {
  background-color: #fff;
  font-family: 'iransans';
}

.header .header_contact {
  padding: .7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: .2px solid #e6e6e6;
}

.header .header_contact .header_contact_items #header_mail {
  font-family: 'Roboto';
  font-size: .9em;
}

.header .header_contact .header_contact_items i {
  font-size: .9em;
  color: #377ef9;
  padding: 0 .5em;
  font-weight: 500;
}

.header .header_contact .header_contact_items span {
  color: #646464;
}

.header .header_contact .socialmedias .socialitems:hover {
  color: #377ef9;
}

.header .header_contact .socialmedias a > i {
  color: #646464;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .8em 1em;
}

.header .header_navigation .header_logo img {
  width: 3.5em;
}

.header .header_navigation .header_navbar .header_navigation_menu {
  list-style-type: none;
}

.header .header_navigation .header_navbar .header_navigation_menu #opendp {
  position: relative;
}

.header .header_navigation .header_navbar .header_navigation_menu .dropdown_container {
  background-color: #fff;
  padding: 1em;
  position: absolute;
  z-index: 2;
  list-style-type: none;
  display: none;
  white-space: nowrap;
  border-radius: 3px;
}

.header .header_navigation .header_navbar .header_navigation_menu .dropdown_container .dropdown_item {
  color: #333;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin: .5em 0;
}

.header .header_navigation .header_navbar .header_navigation_menu .dropdown_item a:hover {
  color: #377ef9;
  border-bottom: 1px solid #377ef9;
}

.header .header_navigation .header_navbar .header_navigation_menu .header_navigation_item {
  display: inline-block;
  margin: 0 1.5em;
  font-size: 1.2em;
  padding-top: .5em;
}

.header .header_navigation .header_navbar .header_navigation_menu .header_navigation_item a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-bottom: 1px solid #377ef9 visible;
}

.header .header_navigation .header_navbar .header_navigation_menu .header_navigation_item > a:hover {
  color: #377ef9;
  border-bottom: 2px solid #377ef9;
}

.header .header_navigation .header_navbar #opendp:hover .dropdown_container {
  display: block;
}

.header .header_navigation .instagram {
  margin-top: .5em;
  font-size: .8em;
  cursor: pointer;
  background-color: #377ef9;
  padding: .9em 1.4em;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .header_navigation .instagram:hover {
  background-color: #396cf0;
}

.main-carousel .carousel-cell img {
  width: 100%;
}

.top_portfolio_container {
  text-align: center;
  font-family: 'iransans';
  margin-top: 8em;
}

.top_portfolio_container h3 {
  color: #377ef9;
}

.top_portfolio_container h5 {
  color: #333;
  border-bottom: 1px solid #377ef9;
  display: inline-block;
  padding: .5em;
}

.top_portfolio_container .card_container {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_portfolio_container .card_container .card {
  border: 1px solid #e6e6e6;
}

.top_portfolio_container a {
  text-decoration: none;
  color: #333;
}
/*# sourceMappingURL=style.css.map */