html {
    box-sizing: border-box;
  }
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
  }

//   Assets
  $blue:#377ef9;
  $gray:#646464;

//================
// fonts
@font-face {
    font-family: 'iransans';
    src: url("../fonts/iransans.ttf")
}
@font-face {
    font-family: 'iransans2';
    src: url("../fonts/iransans2.ttf");
}
@font-face {
    font-family: 'rezvan';
    src: url("../fonts/Rezvan.ttf");
}
@font-face {
    font-family: 'rezvan2';
    src: url("../fonts/Rezvan-reg.ttf");
}

// ==============

// modifiers
.inner_container{
    width: 95%;
    margin: 0 auto;   
    max-width: 2000px;
}

// header section
.header{
  background-color: #fff;
  font-family: 'iransans';
  .header_contact{
    padding: .7em 0;
    display: flex;
    justify-content: space-between;
    border-bottom:.2px solid #e6e6e6;
      .header_contact_items{
        #header_mail{font-family:'Roboto';font-size: .9em;}
        i{
          font-size: .9em;
          color: $blue;
          padding: 0 .5em;
          font-weight: 500;
        }
        span{
          color: $gray;
        }
      }
      .socialmedias{
        .socialitems:hover{color: $blue;}
        a>i{
          color: $gray;
          transition: all .2s ease;
        }
      }
  }


  .header_navigation{
    display: flex;
    justify-content: space-between;
    padding: .8em 1em;
      .header_logo{
        img{
          width: 3.5em;
        }
      }
      .header_navbar{
        .header_navigation_menu{
          list-style-type: none;
          #opendp{
            position: relative;
          }
            .dropdown_container{
              background-color: #fff;
              padding: 1em;
              position: absolute;
              z-index: 2;
              list-style-type: none;
              display: none;
              white-space: nowrap;
              border-radius: 3px;
              .dropdown_item{
                color: #333;
                transition: all .3s ease-in;
                margin: .5em 0;
              }
            }.dropdown_item a:hover{
              color: $blue;
              border-bottom: 1px solid $blue;
            }
            .header_navigation_item{
              display: inline-block;
              margin: 0 1.5em;
              font-size: 1.2em;
              padding-top: .5em;
                a{
                  color: #333;
                  text-decoration: none;
                  transition: all .2s ease;
                  border-bottom: 1px solid $blue visible;
                }
          }.header_navigation_item>a:hover{
            color:$blue;
            border-bottom: 2px solid $blue;
          }
        }
        #opendp:hover .dropdown_container {
          display: block;
        }
      }
      .instagram{
        margin-top:.5em;
        font-size: .8em;
        cursor: pointer;
        background-color: $blue;
        padding: .9em 1.4em;
        border-radius: 2px;
        font-family: 'Roboto';
        font-weight: bold;           
        color: #fff;
        transition: all .3s ease-in-out;
      }.instagram:hover{background-color: #396cf0;
      }
  }
}


// main section
.main-carousel{
  .carousel-cell{
    img{
      width: 100%;
    }
  }
}

