html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  margin: 0%; padding: 0%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}
body{
  overflow: hidden;
}
//   Assets
$blue: #377ef9;
$gray: #646464;

//================
// fonts
@font-face {
  font-family: "iransans";
  src: url("../fonts/iransans.ttf");
}
@font-face {
  font-family: "iransans2";
  src: url("../fonts/iransans2.ttf");
}
@font-face {
  font-family: "rezvan";
  src: url("../fonts/Rezvan.ttf");
}
@font-face {
  font-family: "rezvan2";
  src: url("../fonts/Rezvan-reg.ttf");
}

// ==============

// modifiers
.inner_container {
  width: 95%;
  margin: 0 auto;
  max-width: 2000px;
}

// header section
.header {
  background-color: #fff;
  font-family: "iransans";
  .header_contact {
    padding: 0.7em 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid #e6e6e6;
    .header_contact_items {
      #header_mail {
        font-family: "Roboto";
        font-size: 0.9em;
      }
      i {
        font-size: 0.9em;
        color: $blue;
        padding: 0 0.5em;
        font-weight: 500;
      }
      span {
        color: $gray;
      }
    }
    .socialmedias {
      .socialitems:hover {
        color: $blue;
      }
      a > i {
        color: $gray;
        transition: all 0.2s ease;
      }
    }
  }

  .header_navigation {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1em;
    .header_logo {
      img {
        width: 3.5em;
      }
      .logo_caption{
        color: $gray;
      }
      .logo_title{
        color: $blue;
        font-size: 1.5em;
        font-weight: bold;
      }
    }.logo_container{
      text-align: center;
      padding-top: .3em;
      padding-right: .5em;
    }
    .header_navbar {
      .header_navigation_menu {
        list-style-type: none;
        #opendp {
          position: relative;
        }
        .dropdown_container {
          background-color: #fff;
          padding: 1em;
          position: absolute;
          z-index: 2;
          list-style-type: none;
          display: none;
          white-space: nowrap;
          border-radius: 3px;
          .dropdown_item {
            color: #333;
            transition: all 0.3s ease-in;
            margin: 0.5em 0;
          }
        }
        .dropdown_item a:hover {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
        .header_navigation_item {
          display: inline-block;
          margin: 0 1.5em;
          font-size: 1.2em;
          padding-top: 0.5em;
          a {
            color: #333;
            text-decoration: none;
            transition: all 0.2s ease;
            border-bottom: 1px solid $blue visible;
          }
        }
        .header_navigation_item > a:hover {
          color: $blue;
          border-bottom: 2px solid $blue;
        }
      }
      #opendp:hover .dropdown_container {
        display: block;
      }
    }
    .instagram {
      margin-top: 0.5em;
      font-size: 0.8em;
      cursor: pointer;
      background-color: $blue;
      padding: 0.9em 1.4em;
      border-radius: 2px;
      font-family: "Roboto";
      font-weight: bold;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
    .instagram:hover {
      background-color: #396cf0;
    }
  }
}

// main section
.main-carousel {
  .carousel-cell {
    img {
      width: 100%;
    }
  }
}

// top portfolio cards section
.top_portfolio_container {
  background-color: #fff;
  text-align: center;
  font-family: "iransans";
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  .top_portfolio_title {
    color: $blue;
  }
  .top_portfolio_caption {
    color: #333;
    border-bottom: 1px solid $blue;
    display: inline-block;
    padding: 0.5em;
  }
  .card_container {
    margin: 3em 0;
    margin: 3em 0 2em;
    display: flex;
    justify-content: center;
    .card {
      cursor: pointer;
      border: 1px solid #e6e6e6;
      width: 23%;
      border-radius: 4px;
      margin: 0 2em;
      background-color: #fff;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 4px 4px 0px 0px;
        transition: all 0.3s ease-in-out;
      }
      .card_details {
        text-align: right;
        position: relative;
        .card_time {
          padding: 0.3em;
          background-color: $blue;
          width: 60%;
          position: absolute;
          top: -10%;
          right: 4%;
          border-radius: 4px;
          .time_logo {
            color: #fff;
            margin: 0 0.5em;
          }
          .time_portfolio {
            color: #fff;
          }
        }
        .card_define {
          padding: 4em 2em 2em;
          .card_caption {
            color: $gray;
            margin: 0.5em 0;
          }
          .card_title {
            color: #333;
            transition: all 0.2s linear;
          }
          .card_title:hover {
            color: $blue;
          }
        }
        .more_link {
          color: $blue;
          display: block;
          margin-top: 1em;
        }
      }
    }
  }
  .card:hover img {
    transform: scale(1.1);
  }
  a {
    text-decoration: none;
    color: #333;
  }
}

// top services section
.top_services_container {
  // background-color: #faf9f9;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 3em 0;
  font-family: "iransans";
  color: $blue;
  text-align: center;
  .top_services_navigation {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .top_services_items {
      text-decoration: none;
      i {
        font-size: 1.5em;
        font-weight: lighter;
        transition: all 0.2s ease;
      }
      i:hover {
        font-weight: bold;
      }
      p {
        color: #333;
        font-weight: lighter;
      }
      color: $blue;
    }
  }
}

// present section
.present_container{
  margin: 3em 0;
  padding: 4em;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 65vh;
  background-image: url(../images/present/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    .present_data{
      width: 40%;
      float: left;
      text-align: right;
        .present_title{
          font-family: 'rezvan2';
          font-weight: bolder;
          color: rgb(61, 61, 61);
          font-weight: lighter;
        }
        .present_define{
          font-family: 'iransans';
          color: $gray;
          font-size: 1.3em;
          margin: 2em 0;
        }
        a .present_button{
          background-color: $blue;
          color: #fff;
          font-family: 'iransans2';
          padding: 1.1em 3em;
          transition: all .2s linear;
          cursor: pointer;
          i{
            font-size: .8em;
          }
        }
        .present_button:hover{
          background-color: #396cf0;
        }
    }
}

// top blog section
.top_blog_container {
  width: 85%;
  margin: 4em auto 1em;
  text-align: center;
  .top_blog_title{
    font-family: 'iransans';
    color: #333;
    border-bottom: 1px solid $blue;
    display: inline-block;
    padding-bottom: .5em;
  }
  .blog_first_row {
    display: flex;
    justify-content: space-around;
  }
  .blog_second_row {
    display: flex;
    justify-content: space-around;
  }
}
.blog_item {
  background-color: #fff;
  padding: 2em;
  display: flex;
  text-decoration: none;
  img {
    width: 20%;
  }
  .blog_content {
    padding: 2em;
    width: 80%;
    font-family: "iransans";
    .blog_title {
      color: #333;
      transition: all .2s ease-out;
    } 
    .blog_caption {
      color: $gray;
    }
  }
}.blog_item:hover .blog_title{color: $blue;}

// brands section
.brand_container{
  width: 100%;
  height: 10vh;
  margin-bottom: 2em;
}
.brand_items{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  h3{
    margin: 1em 0;
    color: $gray;
    font-family: 'roboto';
  } h3:hover{color: $blue;}
}

// location map section
.map{
  width: 100%;
  margin-top: 2em;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}

// footer section
.footer_container{
  padding: 2em 5em;
  background-color: #333;
    .footer_contact{
      display: flex;
      justify-content: space-between;
        .footer_contact_items{
          i{color: $blue;}
          span{
            color: #fff;
            font-family: 'iransans';
          }
          #footer_mail{font-family: 'roboto';}
        }
        .footer_contact_items a{
          margin: 0 .7em;
        }
    }
    .footer_caption{
      color: #fff;
      font-family: 'iransans';
      margin: 3em 0;
      text-align: center;
      padding: 1em 4em;
    }
    .city_container{
      display: flex;
      border-bottom:1px solid $gray;
      justify-content: space-between;
      padding: 0em 7em;
      padding-bottom: 2em;
      a{
        text-decoration: none;
        font-family: 'iransans';
        color: #fff;  
        transition: all .2s linear;
      } a:hover{color: $blue;}
    }
}

// copyright section
.copyright_container{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  .footer_navbar{
    .footer_navigation_menu{
      color: #fff;
      .footer_navigation_item{
        display: inline-block;
          a{
            text-decoration: none;
            color: #fff;
            font-family: 'iransans';
            padding: 0 .5em;
            transition: all .2s ease-in-out;
          } a:hover{color: $blue;}
      }
    }
  }
  .developer_container{
    color: #6e6e6e;
    font-family: 'roboto';
    a{
      color: #fff;
    text-decoration: none;
    transition: all .2s ease;
  }a:hover{color: $blue;}
  }
}

// go up button
.up_button{
  position: fixed;
  right: 1%; bottom: 2%;
  background: transparent;
  color: $gray;
  font-size: 2em;
  display: none;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
} .up_button:hover{
  color: $blue;
}


// ============
// Media queries
// ============

// header contact
@media(max-width:1000px) {
  .header_contact {
    .header_contact_items {
      #header_mail {
        font-family: "Roboto";
        font-size: 7em;
      }
      i {
        font-size: 0.9em;
        color: $blue;
        padding: 0 0.5em;
        font-weight: 500;
      }
      span {
        color: $gray;
        font-size: .8em;
      }
    }
    #header_mai{font-size: 10em;}
  }
  .socialmedias a{font-size: .8em;}
}
@media(max-width:850px) {
.header_contact{display:none; border: none; padding: 0%;}
.header_contact_items{display:none;}
}